In [1]:
import numpy as np
import pandas as pd
from datetime import date


from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from imblearn.under_sampling import NearMiss

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test_bqCt9Pv.csv")

In [3]:
def convert_to_months(duration) :
    s = str(duration)
    s = s.replace('yrs','')
    s = s.replace('mon','')
    
    a = s.split(" ")[0]
    b = s.split(" ")[1]
    a = int(a)
    b = int(b)
    
    k = (12*a) + b
    
    return k

In [4]:
train["AVERAGE.ACCT.AGE"] = train["AVERAGE.ACCT.AGE"].apply(convert_to_months)
train["CREDIT.HISTORY.LENGTH"] = train["CREDIT.HISTORY.LENGTH"].apply(convert_to_months)

test["AVERAGE.ACCT.AGE"] = test["AVERAGE.ACCT.AGE"].apply(convert_to_months)
test["CREDIT.HISTORY.LENGTH"] = test["CREDIT.HISTORY.LENGTH"].apply(convert_to_months)

In [5]:
null_value_stats = train.isnull().sum(axis=0)
null_value_stats[null_value_stats != 0]

Employment.Type    7661
dtype: int64

In [6]:
train.fillna('a', inplace=True)

In [7]:
null_value_stats = train.isnull().sum(axis=0)
null_value_stats[null_value_stats != 0]

Series([], dtype: int64)

In [8]:
null_value_stats = test.isnull().sum(axis=0)
null_value_stats[null_value_stats != 0]

Employment.Type    3443
dtype: int64

In [9]:
test.fillna('a', inplace=True)

In [10]:
null_value_stats = test.isnull().sum(axis=0)
null_value_stats[null_value_stats != 0]

Series([], dtype: int64)

In [11]:
def day_cnt(d) :
    #print(type(d))
    k = d.split('-')
    #print(k)
    #print(type(k[2]))
    if(k[2] in ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18']) :
        v = str(20) + k[2]
        #print(v)
    else :
        v = str(19) + k[2]
    d0 = date(int(v),int(k[1]),int(k[0]))
    d1 = date(2019,4,18)
    
    return ((d1 - d0) / 30)

In [12]:
train["Date.of.Birth"] = train["Date.of.Birth"].apply(day_cnt)
train["DisbursalDate"] = train["DisbursalDate"].apply(day_cnt)

test["Date.of.Birth"] = test["Date.of.Birth"].apply(day_cnt)
test["DisbursalDate"] = test["DisbursalDate"].apply(day_cnt)

In [13]:
def delta_to_int(d1) :
    p = str(d1)
    l = p.split(' ')[0]
    
    return int(l)

In [14]:
train["Date.of.Birth"] = train["Date.of.Birth"].apply(delta_to_int)
train["DisbursalDate"] = train["DisbursalDate"].apply(delta_to_int)

test["Date.of.Birth"] = test["Date.of.Birth"].apply(delta_to_int)
test["DisbursalDate"] = test["DisbursalDate"].apply(delta_to_int)

In [15]:
train.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,429,Salaried,...,0,0,0,0,0,0,0,0,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,410,Self employed,...,0,0,1991,0,0,1,23,23,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,409,Self employed,...,0,0,0,0,0,0,0,0,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,308,Self employed,...,0,0,31,0,0,0,8,15,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,503,Self employed,...,0,0,0,0,0,0,0,0,1,1

In [16]:
test.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES
0,655269,53478,63558,86.54,67,22807,45,1497,551,Salaried,...,0,0,0,0,0,0,0,0,0,0
1,723482,55513,63163,89.45,67,22807,45,1497,412,Self employed,...,0,0,0,5605,0,1,0,8,12,1
2,758529,65282,84320,79.93,78,23135,86,2071,286,Salaried,...,0,0,0,0,0,0,0,0,0,0
3,763449,46905,63896,76.58,78,17014,45,2070,558,Self employed,...,0,0,0,0,0,0,0,29,29,0
4,708663,51428,63896,86.08,78,17014,45,2069,570,Salaried,...,0,0,0,0,0,0,0,0,0,0

In [17]:
X = train.drop('loan_default', axis=1)
#X = X.drop('PERFORM_CNS.SCORE.DESCRIPTION' , axis = 1)
p = X['UniqueID']
X = X.drop('UniqueID' , axis = 1)
y = train['loan_default']


X_test = test
#X_test = X_test.drop('PERFORM_CNS.SCORE.DESCRIPTION' , axis = 1)
X_test = X_test.drop('UniqueID' , axis = 1)

In [18]:
categorical_cols = ['branch_id','supplier_id','manufacturer_id','Current_pincode_ID','State_ID','Employee_code_ID']
label_cols = ['Employment.Type','PERFORM_CNS.SCORE.DESCRIPTION']

In [19]:
replace_map = {'PERFORM_CNS.SCORE.DESCRIPTION':{'No Bureau History Available':18, 'I-Medium Risk':9, 'L-Very High Risk':19,'A-Very Low Risk':1,'Not Scored: Not Enough Info available on the customer':16,'D-Very Low Risk':4, 'M-Very High Risk':20, 'B-Very Low Risk':2,'C-Very Low Risk':3, 'E-Low Risk':5, 'H-Medium Risk':8, 'F-Low Risk':6,'K-High Risk':17,'Not Scored: No Activity seen on the customer (Inactive)':11,'Not Scored: Sufficient History Not Available':14,'Not Scored: No Updates available in last 36 months':13, 'G-Low Risk':7,'J-High Risk':15, 'Not Scored: Only a Guarantor':10,'Not Scored: More than 50 active Accounts found':1}}

In [20]:
X.replace(replace_map, inplace=True)

print(X.head())

   disbursed_amount  asset_cost    ltv  branch_id  supplier_id  \
0             50578       58400  89.55         67        22807
1             47145       65550  73.23         67        22807
2             53278       61360  89.63         67        22807
3             57513       66113  88.48         67        22807
4             52378       60300  88.39         67        22807

   manufacturer_id  Current_pincode_ID  Date.of.Birth Employment.Type  \
0               45                1441            429        Salaried
1               45                1502            410   Self employed
2               45                1497            409   Self employed
3               45                1501            308   Self employed
4               45                1495            503   Self employed

   DisbursalDate       ...         SEC.CURRENT.BALANCE  SEC.SANCTIONED.AMOUNT  \
0              8       ...                           0                      0
1              6       ...                           0                      0
2              8       ...                           0                      0
3              5       ...                           0                      0
4              6       ...                           0                      0

   SEC.DISBURSED.AMOUNT  PRIMARY.INSTAL.AMT  SEC.INSTAL.AMT  \
0                     0                   0               0
1                     0                1991               0
2                     0                   0               0
3                     0                  31               0
4                     0                   0               0

   NEW.ACCTS.IN.LAST.SIX.MONTHS  DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  \
0                             0                                    0
1                             0                                    1
2                             0                                    0
3                             0                                    0
4                             0                                    0

   AVERAGE.ACCT.AGE  CREDIT.HISTORY.LENGTH  NO.OF_INQUIRIES
0                 0                      0                0
1                23                     23                0
2                 0                      0                0
3                 8                     15                1
4                 0                      0                1

[5 rows x 39 columns]

In [21]:
X_test.replace(replace_map, inplace=True)

#print(X_test.head())

In [22]:
#print(X['Employment.Type'].unique())
#print(X_test['Employment.Type'].unique())

replace_m1 = {'Employment.Type':{'a':100000000,'Self employed':1,'Salaried':2}}

In [23]:
X.replace(replace_m1, inplace=True)

#print(X.head())

In [24]:
X_test.replace(replace_m1, inplace=True)

#print(X_test.head())

In [25]:
# import labelencoder
from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

In [26]:
# apply le on categorical feature columns
X[categorical_cols] = X[categorical_cols].apply(lambda col: le.fit_transform(col))
#print(X[categorical_cols].head(10))


X_test[categorical_cols] = X_test[categorical_cols].apply(lambda col: le.fit_transform(col))
#print(X_test[categorical_cols].head(10))

In [27]:
nr = NearMiss()
X_train, y_train = nr.fit_sample(X, y)

In [28]:
np.bincount(y_train)

array([50611, 50611], dtype=int64)

In [29]:
len(X_test)

112392

In [30]:
y.shape

(233154,)

In [31]:
scaler = StandardScaler()
X_std = scaler.fit_transform(X_train)

In [32]:
X_test_std = scaler.fit_transform(X_test)

C:\Users\HP\Anaconda3\envs\tfenv\lib\site-packages\sklearn\preprocessing\data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\HP\Anaconda3\envs\tfenv\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [33]:
X_std.shape

(101222, 39)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics


logreg = LogisticRegression(C=3.0,random_state=0, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter = 4500,penalty='l1')
logreg.fit(X_std, y_train)

C:\Users\HP\Anaconda3\envs\tfenv\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [40]:
print('Coefficient of each feature:', logreg.coef_)
print('Length:', len(logreg.coef_))

Coefficient of each feature: [[-0.11533568  0.20774042  0.44433983  0.03269792  0.02928489 -0.08537817
   0.08036664 -0.08976497 -0.02219303 -0.07666719  0.10606058  0.02034597
   0.         -0.07209909 -0.02991988  0.0250521  -0.02922863 -0.02277501
   0.26419222  0.38539975 -0.04156779 -0.1183316   0.10876007 -0.06909193
   0.          0.01564066 -0.02086065  0.01360889  0.0087057  -0.01516463
  -0.4826694   0.47941808 -0.00200333  0.00209004  0.02305165  0.10590075
   0.11660559 -0.20094044  0.13444765]]
Length: 1

In [41]:
y_pred = logreg.predict(X_test)

In [43]:
print(y_pred)
print(len(y_pred))
print(len([i for i in y_pred if i == 1]))

[1 1 1 ... 1 1 1]
112392
96554

In [44]:
print(len(y_pred))
print(len(X_test))

112392
112392

In [45]:
X_test = test
X_test["loan_default"] = y_pred

In [46]:
X1 = X_test.drop(X_test.columns.to_series()["disbursed_amount":"NO.OF_INQUIRIES"], axis=1)

In [48]:
X1.to_csv('results_Logistic_NearMiss.csv' , index=False)

In [49]:
X1.head()

   UniqueID  loan_default
0    655269             1
1    723482             1
2    758529             1
3    763449             1
4    708663             1