In [1]:
import numpy as np
import pandas as pd
from datetime import date


from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test_bqCt9Pv.csv")

In [3]:
def convert_to_months(duration) :
    s = str(duration)
    s = s.replace('yrs','')
    s = s.replace('mon','')
    
    a = s.split(" ")[0]
    b = s.split(" ")[1]
    a = int(a)
    b = int(b)
    
    k = (12*a) + b
    
    return k

In [4]:
train["AVERAGE.ACCT.AGE"] = train["AVERAGE.ACCT.AGE"].apply(convert_to_months)
train["CREDIT.HISTORY.LENGTH"] = train["CREDIT.HISTORY.LENGTH"].apply(convert_to_months)

test["AVERAGE.ACCT.AGE"] = test["AVERAGE.ACCT.AGE"].apply(convert_to_months)
test["CREDIT.HISTORY.LENGTH"] = test["CREDIT.HISTORY.LENGTH"].apply(convert_to_months)

In [5]:
null_value_stats = train.isnull().sum(axis=0)
null_value_stats[null_value_stats != 0]

Employment.Type    7661
dtype: int64

In [6]:
train.fillna('a', inplace=True)

In [7]:
null_value_stats = train.isnull().sum(axis=0)
null_value_stats[null_value_stats != 0]

Series([], dtype: int64)

In [8]:
null_value_stats = test.isnull().sum(axis=0)
null_value_stats[null_value_stats != 0]

Employment.Type    3443
dtype: int64

In [9]:
test.fillna('a', inplace=True)

In [10]:
null_value_stats = test.isnull().sum(axis=0)
null_value_stats[null_value_stats != 0]

Series([], dtype: int64)

In [11]:
def day_cnt(d) :
    #print(type(d))
    k = d.split('-')
    #print(k)
    #print(type(k[2]))
    if(k[2] in ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18']) :
        v = str(20) + k[2]
        #print(v)
    else :
        v = str(19) + k[2]
    d0 = date(int(v),int(k[1]),int(k[0]))
    d1 = date(2019,4,18)
    
    return ((d1 - d0) / 30)

In [12]:
train["Date.of.Birth"] = train["Date.of.Birth"].apply(day_cnt)
train["DisbursalDate"] = train["DisbursalDate"].apply(day_cnt)

test["Date.of.Birth"] = test["Date.of.Birth"].apply(day_cnt)
test["DisbursalDate"] = test["DisbursalDate"].apply(day_cnt)

In [13]:
def delta_to_int(d1) :
    p = str(d1)
    l = p.split(' ')[0]
    
    return int(l)

In [14]:
train["Date.of.Birth"] = train["Date.of.Birth"].apply(delta_to_int)
train["DisbursalDate"] = train["DisbursalDate"].apply(delta_to_int)

test["Date.of.Birth"] = test["Date.of.Birth"].apply(delta_to_int)
test["DisbursalDate"] = test["DisbursalDate"].apply(delta_to_int)

In [15]:
train.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,429,Salaried,...,0,0,0,0,0,0,0,0,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,410,Self employed,...,0,0,1991,0,0,1,23,23,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,409,Self employed,...,0,0,0,0,0,0,0,0,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,308,Self employed,...,0,0,31,0,0,0,8,15,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,503,Self employed,...,0,0,0,0,0,0,0,0,1,1

In [16]:
test.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES
0,655269,53478,63558,86.54,67,22807,45,1497,551,Salaried,...,0,0,0,0,0,0,0,0,0,0
1,723482,55513,63163,89.45,67,22807,45,1497,412,Self employed,...,0,0,0,5605,0,1,0,8,12,1
2,758529,65282,84320,79.93,78,23135,86,2071,286,Salaried,...,0,0,0,0,0,0,0,0,0,0
3,763449,46905,63896,76.58,78,17014,45,2070,558,Self employed,...,0,0,0,0,0,0,0,29,29,0
4,708663,51428,63896,86.08,78,17014,45,2069,570,Salaried,...,0,0,0,0,0,0,0,0,0,0

In [17]:
X = train.drop('loan_default', axis=1)
#X = X.drop('PERFORM_CNS.SCORE.DESCRIPTION' , axis = 1)
p = X['UniqueID']
X = X.drop('UniqueID' , axis = 1)
y = train['loan_default']


X_test = test
#X_test = X_test.drop('PERFORM_CNS.SCORE.DESCRIPTION' , axis = 1)
X_test = X_test.drop('UniqueID' , axis = 1)

In [18]:
categorical_cols = ['branch_id','supplier_id','manufacturer_id','Current_pincode_ID','State_ID','Employee_code_ID']
label_cols = ['Employment.Type','PERFORM_CNS.SCORE.DESCRIPTION']

In [19]:
'''# filter categorical columns using mask and turn it into a list
categorical_cols = X.columns[categorical_feature_mask].tolist()
print(categorical_cols)


ct = X_test.columns[categorical_feature_mask].tolist()
print(ct)'''

'# filter categorical columns using mask and turn it into a list\ncategorical_cols = X.columns[categorical_feature_mask].tolist()\nprint(categorical_cols)\n\n\nct = X_test.columns[categorical_feature_mask].tolist()\nprint(ct)'

In [20]:
replace_map = {'PERFORM_CNS.SCORE.DESCRIPTION':{'No Bureau History Available':18, 'I-Medium Risk':9, 'L-Very High Risk':19,'A-Very Low Risk':1,'Not Scored: Not Enough Info available on the customer':16,'D-Very Low Risk':4, 'M-Very High Risk':20, 'B-Very Low Risk':2,'C-Very Low Risk':3, 'E-Low Risk':5, 'H-Medium Risk':8, 'F-Low Risk':6,'K-High Risk':17,'Not Scored: No Activity seen on the customer (Inactive)':11,'Not Scored: Sufficient History Not Available':14,'Not Scored: No Updates available in last 36 months':13, 'G-Low Risk':7,'J-High Risk':15, 'Not Scored: Only a Guarantor':10,'Not Scored: More than 50 active Accounts found':1}}

In [21]:
X.replace(replace_map, inplace=True)

print(X.head())

   disbursed_amount  asset_cost    ltv  branch_id  supplier_id  \
0             50578       58400  89.55         67        22807
1             47145       65550  73.23         67        22807
2             53278       61360  89.63         67        22807
3             57513       66113  88.48         67        22807
4             52378       60300  88.39         67        22807

   manufacturer_id  Current_pincode_ID  Date.of.Birth Employment.Type  \
0               45                1441            429        Salaried
1               45                1502            410   Self employed
2               45                1497            409   Self employed
3               45                1501            308   Self employed
4               45                1495            503   Self employed

   DisbursalDate       ...         SEC.CURRENT.BALANCE  SEC.SANCTIONED.AMOUNT  \
0              8       ...                           0                      0
1              6       ...                           0                      0
2              8       ...                           0                      0
3              5       ...                           0                      0
4              6       ...                           0                      0

   SEC.DISBURSED.AMOUNT  PRIMARY.INSTAL.AMT  SEC.INSTAL.AMT  \
0                     0                   0               0
1                     0                1991               0
2                     0                   0               0
3                     0                  31               0
4                     0                   0               0

   NEW.ACCTS.IN.LAST.SIX.MONTHS  DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  \
0                             0                                    0
1                             0                                    1
2                             0                                    0
3                             0                                    0
4                             0                                    0

   AVERAGE.ACCT.AGE  CREDIT.HISTORY.LENGTH  NO.OF_INQUIRIES
0                 0                      0                0
1                23                     23                0
2                 0                      0                0
3                 8                     15                1
4                 0                      0                1

[5 rows x 39 columns]

In [22]:
print(X_test['PERFORM_CNS.SCORE.DESCRIPTION'].unique())
print(len(X_test['PERFORM_CNS.SCORE.DESCRIPTION'].unique()))

#replace_map_test = {'PERFORM_CNS.SCORE.DESCRIPTION':{'No Bureau History Available':18, 'I-Medium Risk':9, 'L-Very High Risk':19,'A-Very Low Risk':1,'Not Scored: Not Enough Info available on the customer':16,'D-Very Low Risk':4,'B-Very Low Risk':2,'C-Very Low Risk':3, 'E-Low Risk':5, 'H-Medium Risk':8, 'F-Low Risk':6,'K-High Risk':17,'Not Scored: No Activity seen on the customer (Inactive)':11,'Not Scored: Sufficient History Not Available':14,'Not Scored: No Updates available in last 36 months':13, 'G-Low Risk':7,'J-High Risk':15, 'Not Scored: Only a Guarantor':10,'Not Scored: More than 50 active Accounts found':1}}

#print(X_test.head())

['No Bureau History Available' 'C-Very Low Risk'
 'Not Scored: Only a Guarantor' 'K-High Risk' 'B-Very Low Risk'
 'I-Medium Risk' 'D-Very Low Risk' 'A-Very Low Risk' 'M-Very High Risk'
 'E-Low Risk' 'F-Low Risk' 'G-Low Risk'
 'Not Scored: No Activity seen on the customer (Inactive)' 'H-Medium Risk'
 'J-High Risk' 'L-Very High Risk'
 'Not Scored: Sufficient History Not Available'
 'Not Scored: Not Enough Info available on the customer'
 'Not Scored: No Updates available in last 36 months']
19

In [23]:
X_test.replace(replace_map, inplace=True)

print(X_test.head())

   disbursed_amount  asset_cost    ltv  branch_id  supplier_id  \
0             53478       63558  86.54         67        22807
1             55513       63163  89.45         67        22807
2             65282       84320  79.93         78        23135
3             46905       63896  76.58         78        17014
4             51428       63896  86.08         78        17014

   manufacturer_id  Current_pincode_ID  Date.of.Birth Employment.Type  \
0               45                1497            551        Salaried
1               45                1497            412   Self employed
2               86                2071            286        Salaried
3               45                2070            558   Self employed
4               45                2069            570        Salaried

   DisbursalDate       ...         SEC.CURRENT.BALANCE  SEC.SANCTIONED.AMOUNT  \
0              5       ...                           0                      0
1              4       ...                           0                      0
2              4       ...                           0                      0
3              4       ...                           0                      0
4              5       ...                           0                      0

   SEC.DISBURSED.AMOUNT  PRIMARY.INSTAL.AMT  SEC.INSTAL.AMT  \
0                     0                   0               0
1                     0                5605               0
2                     0                   0               0
3                     0                   0               0
4                     0                   0               0

   NEW.ACCTS.IN.LAST.SIX.MONTHS  DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  \
0                             0                                    0
1                             1                                    0
2                             0                                    0
3                             0                                    0
4                             0                                    0

   AVERAGE.ACCT.AGE  CREDIT.HISTORY.LENGTH  NO.OF_INQUIRIES
0                 0                      0                0
1                 8                     12                1
2                 0                      0                0
3                29                     29                0
4                 0                      0                0

[5 rows x 39 columns]

In [24]:
print(X_test["PERFORM_CNS.SCORE.DESCRIPTION"].head())
#X_test["PERFORM_CNS.SCORE.DESCRIPTION"] = X_test["PERFORM_CNS.SCORE.DESCRIPTION"].astype(np.int64)

0    18
1     3
2    18
3    10
4    18
Name: PERFORM_CNS.SCORE.DESCRIPTION, dtype: int64

In [25]:
print(X['Employment.Type'].unique())
print(X_test['Employment.Type'].unique())

replace_m1 = {'Employment.Type':{'a':100000000,'Self employed':1,'Salaried':2}}

['Salaried' 'Self employed' 'a']
['Salaried' 'Self employed' 'a']

In [26]:
X.replace(replace_m1, inplace=True)

print(X.head())

   disbursed_amount  asset_cost    ltv  branch_id  supplier_id  \
0             50578       58400  89.55         67        22807
1             47145       65550  73.23         67        22807
2             53278       61360  89.63         67        22807
3             57513       66113  88.48         67        22807
4             52378       60300  88.39         67        22807

   manufacturer_id  Current_pincode_ID  Date.of.Birth  Employment.Type  \
0               45                1441            429                2
1               45                1502            410                1
2               45                1497            409                1
3               45                1501            308                1
4               45                1495            503                1

   DisbursalDate       ...         SEC.CURRENT.BALANCE  SEC.SANCTIONED.AMOUNT  \
0              8       ...                           0                      0
1              6       ...                           0                      0
2              8       ...                           0                      0
3              5       ...                           0                      0
4              6       ...                           0                      0

   SEC.DISBURSED.AMOUNT  PRIMARY.INSTAL.AMT  SEC.INSTAL.AMT  \
0                     0                   0               0
1                     0                1991               0
2                     0                   0               0
3                     0                  31               0
4                     0                   0               0

   NEW.ACCTS.IN.LAST.SIX.MONTHS  DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  \
0                             0                                    0
1                             0                                    1
2                             0                                    0
3                             0                                    0
4                             0                                    0

   AVERAGE.ACCT.AGE  CREDIT.HISTORY.LENGTH  NO.OF_INQUIRIES
0                 0                      0                0
1                23                     23                0
2                 0                      0                0
3                 8                     15                1
4                 0                      0                1

[5 rows x 39 columns]

In [27]:
X_test.replace(replace_m1, inplace=True)

print(X_test.head())

   disbursed_amount  asset_cost    ltv  branch_id  supplier_id  \
0             53478       63558  86.54         67        22807
1             55513       63163  89.45         67        22807
2             65282       84320  79.93         78        23135
3             46905       63896  76.58         78        17014
4             51428       63896  86.08         78        17014

   manufacturer_id  Current_pincode_ID  Date.of.Birth  Employment.Type  \
0               45                1497            551                2
1               45                1497            412                1
2               86                2071            286                2
3               45                2070            558                1
4               45                2069            570                2

   DisbursalDate       ...         SEC.CURRENT.BALANCE  SEC.SANCTIONED.AMOUNT  \
0              5       ...                           0                      0
1              4       ...                           0                      0
2              4       ...                           0                      0
3              4       ...                           0                      0
4              5       ...                           0                      0

   SEC.DISBURSED.AMOUNT  PRIMARY.INSTAL.AMT  SEC.INSTAL.AMT  \
0                     0                   0               0
1                     0                5605               0
2                     0                   0               0
3                     0                   0               0
4                     0                   0               0

   NEW.ACCTS.IN.LAST.SIX.MONTHS  DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  \
0                             0                                    0
1                             1                                    0
2                             0                                    0
3                             0                                    0
4                             0                                    0

   AVERAGE.ACCT.AGE  CREDIT.HISTORY.LENGTH  NO.OF_INQUIRIES
0                 0                      0                0
1                 8                     12                1
2                 0                      0                0
3                29                     29                0
4                 0                      0                0

[5 rows x 39 columns]

In [28]:
X['Employment.Type'].head()

0    2
1    1
2    1
3    1
4    1
Name: Employment.Type, dtype: int64

In [29]:
X_test['Employment.Type'].head()

0    2
1    1
2    2
3    1
4    2
Name: Employment.Type, dtype: int64

In [30]:
# import labelencoder
from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

In [31]:
# apply le on categorical feature columns
X[categorical_cols] = X[categorical_cols].apply(lambda col: le.fit_transform(col))
print(X[categorical_cols].head(10))


X_test[categorical_cols] = X_test[categorical_cols].apply(lambda col: le.fit_transform(col))
print(X[categorical_cols].head(10))

   branch_id  supplier_id  manufacturer_id  Current_pincode_ID  State_ID  \
0         30         1415                0                1339         5
1         30         1415                0                1397         5
2         30         1415                0                1392         5
3         30         1415                0                1396         5
4         30         1415                0                1391         5
5         30         1415                0                1396         5
6         30         1415                0                1397         5
7         30         1415                0                1396         5
8         30         1415                0                1392         5
9         30         1415                0                1388         5

   Employee_code_ID
0              1588
1              1588
2              1588
3              1588
4              1588
5              1588
6              1588
7              1588
8              1588
9              1588
   branch_id  supplier_id  manufacturer_id  Current_pincode_ID  State_ID  \
0         30         1415                0                1339         5
1         30         1415                0                1397         5
2         30         1415                0                1392         5
3         30         1415                0                1396         5
4         30         1415                0                1391         5
5         30         1415                0                1396         5
6         30         1415                0                1397         5
7         30         1415                0                1396         5
8         30         1415                0                1392         5
9         30         1415                0                1388         5

   Employee_code_ID
0              1588
1              1588
2              1588
3              1588
4              1588
5              1588
6              1588
7              1588
8              1588
9              1588

In [32]:
'''from imblearn.over_sampling import SMOTE
os = SMOTE(random_state=0)

columns = X.columns
os_data_X,os_data_y=os.fit_sample(X, y)
os_data_X = pd.DataFrame(data=os_data_X,columns=columns )
os_data_y= pd.DataFrame(data=os_data_y,columns=['loan_default'])
# we can Check the numbers of our data
print("length of oversampled data is ",len(os_data_X))
print("Number of no subscription in oversampled data",len(os_data_y[os_data_y['loan_default']==0]))
print("Number of subscription",len(os_data_y[os_data_y['loan_default']==1]))
print("Proportion of no subscription data in oversampled data is ",len(os_data_y[os_data_y['loan_default']==0])/len(os_data_X))
print("Proportion of subscription data in oversampled data is ",len(os_data_y[os_data_y['loan_default']==1])/len(os_data_X))'''

'from imblearn.over_sampling import SMOTE\nos = SMOTE(random_state=0)\n\ncolumns = X.columns\nos_data_X,os_data_y=os.fit_sample(X, y)\nos_data_X = pd.DataFrame(data=os_data_X,columns=columns )\nos_data_y= pd.DataFrame(data=os_data_y,columns=[\'loan_default\'])\n# we can Check the numbers of our data\nprint("length of oversampled data is ",len(os_data_X))\nprint("Number of no subscription in oversampled data",len(os_data_y[os_data_y[\'loan_default\']==0]))\nprint("Number of subscription",len(os_data_y[os_data_y[\'loan_default\']==1]))\nprint("Proportion of no subscription data in oversampled data is ",len(os_data_y[os_data_y[\'loan_default\']==0])/len(os_data_X))\nprint("Proportion of subscription data in oversampled data is ",len(os_data_y[os_data_y[\'loan_default\']==1])/len(os_data_X))'

In [33]:
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

C:\Users\HP\Anaconda3\envs\tfenv\lib\site-packages\sklearn\preprocessing\data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\HP\Anaconda3\envs\tfenv\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [34]:
print(X_std[0:5])

[[-0.29133529 -0.92189534  1.2921334  -0.01869548  0.49186836 -1.44714177
  -0.85129183  0.02441887 -0.18432155  1.61053431 -0.28161112  0.40800251
   0.          0.43591589 -0.28592912 -0.41171888 -0.15425693 -0.04617234
  -0.85545269  0.75932016 -0.46780372 -0.53561706 -0.28526422 -0.17606398
  -0.0920098  -0.09171146 -0.09425935 -0.08765132 -0.06521628 -0.03188381
  -0.03983456 -0.03932261 -0.08658051 -0.02078408 -0.3997818  -0.25356649
  -0.59019844 -0.56863979 -0.29244957]
 [-0.55599679 -0.54448189 -0.13237161 -0.01869548  0.49186836 -1.44714177
  -0.82252462 -0.13443244 -0.18432161 -0.33721913 -0.28161112  0.40800251
   0.          0.43591589 -0.28592912 -0.41171888 -0.15425693 -0.04617234
   0.91182229 -0.58425812 -0.27613083 -0.02054934  1.53694111 -0.14677306
  -0.07087108 -0.07059897 -0.09425935 -0.08765132 -0.06521628 -0.03188381
  -0.03983456 -0.03932261 -0.0734271  -0.02078408 -0.3997818   2.34763206
   0.93233674  0.23608517 -0.29244957]
 [-0.08318323 -0.76565145  1.29911627 -0.01869548  0.49186836 -1.44714177
  -0.82500456 -0.14279303 -0.18432161  1.61053431 -0.28161112  0.40800251
   0.          0.43591589 -0.28592912 -0.41171888 -0.15425693 -0.04617234
  -0.85545269  0.75932016 -0.46780372 -0.53561706 -0.28526422 -0.17606398
  -0.0920098  -0.09171146 -0.09425935 -0.08765132 -0.06521628 -0.03188381
  -0.03983456 -0.03932261 -0.08658051 -0.02078408 -0.3997818  -0.25356649
  -0.59019844 -0.56863979 -0.29244957]
 [ 0.24330713 -0.51476388  1.19873755 -0.01869548  0.49186836 -1.44714177
  -0.82302061 -0.98721311 -0.18432161 -1.31109585 -0.28161112  0.40800251
   0.          0.43591589 -0.28592912 -0.41171888 -0.15425693 -0.04617234
   0.04591666  0.90860663  0.10721495 -0.53561706 -0.28526422 -0.17606398
  -0.0920098  -0.09171146 -0.09425935 -0.08765132 -0.06521628 -0.03188381
  -0.03983456 -0.03932261 -0.08637571 -0.02078408 -0.3997818  -0.25356649
  -0.06062098 -0.04381916  1.12298621]
 [-0.15256725 -0.82160365  1.19088182 -0.01869548  0.49186836 -1.44714177
  -0.82550054  0.64310288 -0.18432161 -0.33721913 -0.28161112  0.40800251
   0.          0.43591589 -0.28592912 -0.41171888 -0.15425693 -0.04617234
  -0.85545269  0.75932016 -0.46780372 -0.53561706 -0.28526422 -0.17606398
  -0.0920098  -0.09171146 -0.09425935 -0.08765132 -0.06521628 -0.03188381
  -0.03983456 -0.03932261 -0.08658051 -0.02078408 -0.3997818  -0.25356649
  -0.59019844 -0.56863979  1.12298621]]

In [35]:
X_test_std = scaler.fit_transform(X_test)

C:\Users\HP\Anaconda3\envs\tfenv\lib\site-packages\sklearn\preprocessing\data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\HP\Anaconda3\envs\tfenv\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [36]:
X_test_std[0:5]

array([[-0.19802459, -0.74588604,  1.02029226, -0.108423  ,  0.36359471,
        -1.39139215, -0.65831223,  1.01311898, -0.17776932,  0.86053167,
        -0.25978613,  0.15855576,  0.        ,  0.38719463, -0.48681987,
        -0.37098305, -0.13035844, -0.04377915, -0.84795116,  0.75027222,
        -0.48851843, -0.5355005 , -0.28624777, -0.16712752, -0.1788822 ,
        -0.17819527, -0.05991427, -0.06225443, -0.04304992, -0.01974379,
        -0.01846423, -0.0182311 , -0.04099236, -0.00951938, -0.3733767 ,
        -0.24065504, -0.5897889 , -0.56426354, -0.305886  ],
       [-0.04296089, -0.76750452,  1.28468553, -0.108423  ,  0.36359471,
        -1.39139215, -0.65831223, -0.13810565, -0.17776938, -1.16207228,
        -0.25978613,  0.15855576,  0.        ,  0.38719463, -0.48681987,
        -0.37098305, -0.13035844, -0.04377915,  1.35625372, -1.47125145,
        -0.04982667,  0.04138581, -0.28624777, -0.11775336, -0.1332652 ,
        -0.132903  , -0.05991427, -0.06225443, -0.04304992, -0.01974379,
        -0.01846423, -0.0182311 , -0.02054539, -0.00951938,  0.81229715,
        -0.24065504, -0.05608987, -0.12726836,  1.0468778 ],
       [ 0.70142104,  0.39042509,  0.41972884,  0.26764435,  0.65516734,
         0.856726  , -0.36799477, -1.18166178, -0.17776932, -1.16207228,
        -0.68715247, -0.10909153,  0.        ,  0.38719463,  2.05414788,
        -0.37098305, -0.13035844, -0.04377915, -0.84795116,  0.75027222,
        -0.48851843, -0.5355005 , -0.28624777, -0.16712752, -0.1788822 ,
        -0.17819527, -0.05991427, -0.06225443, -0.04304992, -0.01974379,
        -0.01846423, -0.0182311 , -0.04099236, -0.00951938, -0.3733767 ,
        -0.24065504, -0.5897889 , -0.56426354, -0.305886  ],
       [-0.69887652, -0.72738719,  0.11535858,  0.26764435, -0.7274938 ,
        -1.39139215, -0.36854358,  1.07109432, -0.17776938, -1.16207228,
        -0.68715247, -0.10909153,  0.        ,  0.38719463, -0.48681987,
        -0.37098305, -0.13035844, -0.04377915, -0.80675107, -0.4345404 ,
        -0.26917255,  0.04138581,  1.59405377, -0.01812099,  0.05958305,
         0.05857246, -0.05991427, -0.06225443, -0.04304992, -0.01974379,
        -0.01846423, -0.0182311 , -0.04099236, -0.00951938, -0.3733767 ,
        -0.24065504,  1.34487008,  0.49180816, -0.305886  ],
       [-0.35423126, -0.72738719,  0.97849813,  0.26764435, -0.7274938 ,
        -1.39139215, -0.36909238,  1.17048062, -0.17776932,  0.86053167,
        -0.68715247, -0.10909153,  0.        ,  0.38719463, -0.48681987,
        -0.37098305, -0.13035844, -0.04377915, -0.84795116,  0.75027222,
        -0.48851843, -0.5355005 , -0.28624777, -0.16712752, -0.1788822 ,
        -0.17819527, -0.05991427, -0.06225443, -0.04304992, -0.01974379,
        -0.01846423, -0.0182311 , -0.04099236, -0.00951938, -0.3733767 ,
        -0.24065504, -0.5897889 , -0.56426354, -0.305886  ]])

In [37]:
X_test_std.shape

(112392, 39)

In [38]:
len(X_test)

112392

In [39]:
X_std.shape

(233154, 39)

In [40]:
y.shape

(233154,)

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics


logreg = LogisticRegression(C=4.0,random_state=0, class_weight='balanced', dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter = 6000,penalty='l1')
logreg.fit(X_std, y)

C:\Users\HP\Anaconda3\envs\tfenv\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=3.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=6000,
          multi_class='warn', n_jobs=None, penalty='l1', random_state=0,
          solver='warn', tol=0.0001, verbose=0, warm_start=False)

In [42]:
print('Coefficient of each feature:', logreg.coef_)
print('Length:', len(logreg.coef_))

Coefficient of each feature: [[-1.07032100e-01  2.03131880e-01  4.31947889e-01  3.06674831e-02
   3.62355318e-02 -7.88658310e-02  8.50592036e-02 -8.21318618e-02
  -2.18798463e-02 -7.47350532e-02  9.67938131e-02  2.77754094e-02
   0.00000000e+00 -5.87224450e-02 -2.40777191e-02  2.27794437e-02
  -2.43952376e-02 -2.26164046e-02  2.50268730e-01  3.57965900e-01
  -1.42011000e-02 -1.43499865e-01  9.46391163e-02 -6.91506730e-02
  -5.45451990e-02  6.09519641e-02 -1.31802100e-02  1.14342878e-02
   7.69732446e-03 -5.23739076e-03 -4.02195035e-01  3.91762812e-01
   5.40789571e-05  5.81411761e-03  2.29139729e-02  9.12870785e-02
   1.18214939e-01 -1.92936886e-01  1.16984328e-01]]
Length: 1

In [43]:
y_pred = logreg.predict(X_test_std)

In [44]:
X_test.head()

,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,...,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES
0,53478,63558,86.54,30,1345,0,1351,551,2,5,...,0,0,0,0,0,0,0,0,0,0
1,55513,63163,89.45,30,1345,0,1351,412,1,4,...,0,0,0,5605,0,1,0,8,12,1
2,65282,84320,79.93,39,1566,5,1880,286,2,4,...,0,0,0,0,0,0,0,0,0,0
3,46905,63896,76.58,39,518,0,1879,558,1,4,...,0,0,0,0,0,0,0,29,29,0
4,51428,63896,86.08,39,518,0,1878,570,2,5,...,0,0,0,0,0,0,0,0,0,0

In [45]:
print(y_pred)
print(len(y_pred))
print(len([i for i in y_pred if i == 1]))

[1 1 1 ... 0 0 0]
112392
54963

In [46]:
print(len(y_pred))
print(len(X_test))

112392
112392

In [47]:
X_test = test
X_test["loan_default"] = y_pred

In [48]:
X1 = X_test.drop(X_test.columns.to_series()["disbursed_amount":"NO.OF_INQUIRIES"], axis=1)

In [49]:
X1.head()

   UniqueID  loan_default
0    655269             1
1    723482             1
2    758529             1
3    763449             0
4    708663             1

In [214]:
X1.to_csv('results_Logistic.csv' , index=False)

In [215]:
X1.head()

   UniqueID  loan_default
0    655269             1
1    723482             1
2    758529             1
3    763449             0
4    708663             1